.idea
.ensime
.ensime_cache
*.sublime-project
target
.DS_Store
ansible/*.retry
.vagrant
*.tfstate.*
.vscode
.terraform
node_modules
*.log
dockerize.tar.gz
.env
*.iml
secret-env-plain
terraform_*
tf
*.swp
erl_crash.dump
ops/elk/elasticsearch/data
/dev-file-store
/server/dev-file-store
reffy/src/ui/build
chromedriver
# Equifax calling script outputs
reffy/equifax/equifax_password_reset.xml
reffy/equifax/equifax_ping.xml
*.pyc